{% extends "practice/base.html" %}
{% block body%}
 <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Accuracy'],
          ['fully accepted',{{accepted}}],
          ['wrong',{{wrong}}],
          ['partially accepted',{{partially_accepted}}]
        ]);

        var options = {
          title: 'your submissions'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>
<div class="row container">
    <a href="/practice/all_problems"> back to problems </a>
    <div>
        your total submission : {{total_submissions}} </br>
    </div>

    <div id="piechart" style="width: 600px; height: 500px;"></div>

<!--- '''  <table class="highlight centered responsive-table col s8 m8 l8" >
      <thead>
        <tr>
            <th>totalscore</th>
            <th>datetime</th>
            <th>isrunning</th>
            <th>more details </th>
        </tr>
      </thead>
      <tbody>

          {% for submission in submissions %}

              <tr>
                <form action="/assignment/submission_files" method="POST" > {% csrf_token %}
                    <input type="hidden" name="submissionid" value="{{submission.id}}" />

                    <td>{{submission.totalscore}}</td>
                    <td>{{submission.datetime}}</td>
                    <td>{{submission.isrunning}}</td>
                    <td><button type="submit">see details about submission</button></td>

                  </form>
              </tr>

          {% endfor %}
      </tbody>
  </table>'''
--->
    <hr class="style13">
    <h5>problem title : {{problem.title}}</h5>
      <table class="highlight centered responsive-table col s8 m8 l8" >
          <thead class="grey lighten-1">
            <tr>
                <th>submissionID</th>
                <th>Totalscore</th>
                <th>yourscore</th>
                <th>Date and time</th>
                <th>Verdict</th>
                <th>Isrunning</th>
                <th>Submission details</th>
            </tr>
          </thead>
          <tbody>
            {% for submission in submissions %}
              <tr>
                <form action="/practice/selectedsubmission" method="POST" > {% csrf_token %}
                    <input type="hidden" name="submissionid" value="{{submission.id}}" />
                    <td>{{submission.id}}</td>
                    <td>{{submission.problem.totalscore}}</td>
                    <td>{{submission.totalscore}}</td>
                    <td>{{submission.datetime}}</td>
                    <td>{{submission.verdict}}</td>
                    <td>{{submission.isrunning}}</td>
                    <td><button class="btn green lighten-2" type="submit">see details </button></td>
                </form>
                </tr>
           {% endfor %}
          </tbody>
      </table>
</div>
{% endblock %}
