{% extends "subject/base.html" %}
{% block body %}
    <div ><header>{{ subject.name }}</header></div>
    <div class="row container">
        <table class="highlight centered responsive-table col s8 m8 l8" >
                    <thead>
                      <tr>
                          <th>Rank</th>
                          <th>Student Name</th>
                          {% for w in weeks %}
                            <th>{{ w.name }}</th>
                          {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                        {% for d in data %}
                            <tr>
                                <td>1</td>
                                <td>{{ d.user }}</td>
                                {% for week in d %}
                                    <td>{{ d.week }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
    </div>
{% endblock %}