{% extends "subject/base.html" %}
{% block body %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });
</script>




<div class="row container z-depth-3">
    <div class="col s12">
    <div >
        {% if messages %}
            {% for m in messages %}
                    <script>
						Materialize.toast('{{ m }}', 3000);
					</script>
            {% endfor %}
        {% endif%}
    </div>
    {% if not subject_list|length %}
        <div ><h4>There is No subjects.</h4></div>

        {% if request.user.is_superuser %}
        <hr class="style13">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">Add Subject</div>
                <div class="collapsible-body">
                    <form action="/subject/addsubject" method="POST" > {% csrf_token %}
                        <div >
                            <label for="name">Subject Name</label>
                            <input type="text" name="name" class="validate" id="name" required>
                        </div>
                        <div >
                            <label for="subject_code">Subject_code</label>
                            <input type="text" name="subject_code" class="validate" id="subject_code" required>
                        </div>
                        <button type="submit" class="btn green lighten-2">Add subject</button>
                    </form>
                </div>
            </li>
          </ul>
        {% endif %}
    {% else %}
    <div ><h5>Subjects</h5></div>
    <div >
        {% if request.user.is_superuser %}
                <table class="highlight centered responsive-table " >
                    <thead class="grey lighten-1">
                      <tr>
                          <th>Subject Code</th>
                          <th>Subject Name</th>
                          <th>Select Year </th>
                          <th>Show Week</th>
                          <th>Select Year</th>
                          <th>Leaderboard</th>
                          <th>Action</th>

                      </tr>
                    </thead>
                    <tbody >
                        {% for s in subject_list %}
                            <tr>
                                <td>{{ s.subject_code }}</td>
                                <td>{{ s.name }}</td>


                                    <form action="/assignment/showWeek" method="POST" > {% csrf_token %}
                                      <td><input class="btn green lighten-2" type="hidden" name="subjectid" value="{{ s.id }}" />
                                        <input type="number" name="subjectyear" min={{min_year}} max={{max_year}} value={{max_year}} required/>
                                      </td>
                                      <td><button type="submit" class="btn green lighten-2" name="send">Show week</button>  </td>
                                    </form>


                                    <form action="/leaderboard/set_leaderboard_subject" method="POST" > {% csrf_token %}
                                        <td><input type="hidden" name="subjectid" value="{{ s.id }}" />
                                            <input type="number" name="year" min={{min_year}} max={{max_year}} value={{max_year}} required/>
                                        </td>
                                        <td><button class="btn green lighten-2" type="submit"  name="send">Leaderboard</button></td>
                                    </form>
                                 <td>
                                    <form action="/subject/removesubject" method="POST" > {% csrf_token %}
                                      <button class="btn red lighten-1" type="submit"  name="status" value="remove">Remove</button>
                                      <input type="hidden" value="{{ s.pk }}" name="id">
                                    </form>
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
    <hr class="style13">
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">Add Subject</div>
            <div class="collapsible-body">
                <form action="/subject/addsubject" method="POST" > {% csrf_token %}
                    <div >
                        <label for="name">Subject Name</label>
                        <input type="text" name="name" class="validate" id="name" required>
                    </div>
                    <div >
                        <label for="subject_code">Subject_code</label>
                        <input type="text" name="subject_code" class="validate" id="subject_code" required>
                    </div>
                    <button type="submit" class="btn green lighten-2">Add subject</button>
                </form>
            </div>
        </li>
      </ul>

        {% else %}
            {% if role == "student" %}
                <table class="highlight centered responsive-table" >
                    <thead class="grey lighten-1">
                      <tr>
                          <th>Subject Code</th>
                          <th>Subject Name</th>
                          <th>Show Week</th>
                          <th>Leaderboard</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for s in subject_list %}
                            <tr>
                                <td>{{ s.subject.subject_code }}</td>
                                <td>{{ s.subject.name }}</td>
                                <form action="/assignment/showWeek" method="POST" > {% csrf_token %}
                                  <input class="btn green lighten-2" type="hidden" name="subjectid" value="{{ s.subject.id }}" />
                                    <input type="hidden" name="subjectyear" value="{{request.session.student_year}}" required/>

                                  <td><button type="submit" class="btn green lighten-2" name="send">Show week</button>  </td>
                                </form>

                                    <form action="/leaderboard/set_leaderboard_subject" method="POST" > {% csrf_token %}
                                     <input type="hidden" name="subjectid" value="{{ s.subject.id }}" />
                                        <input type="hidden" name="year" value="{{request.session.student_year}}" required/>
                                        <td><button type="submit" class="btn green lighten-2" name="send">Show Leaderboard</button></td>
                                    </form>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if role == "faculty" %}
                <table class="highlight centered responsive-table " >
                    <thead class="grey lighten-1">
                      <tr>
                          <th>Subject Code</th>
                          <th>Subject Name</th>
                          <th>Select Year</th>
                          <th>Show Week</th>
                          <th>Select Year</th>
                          <th>Leaderboard</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for s in subject_list %}
                            <tr>
                                <td>{{ s.subject_code }}</td>
                                <td>{{ s.name }}</td>
                                <form action="/assignment/showWeek" method="POST" > {% csrf_token %}
                                  <td><input class="btn green lighten-2" type="hidden" name="subjectid" value="{{ s.id }}" />
                                    <input type="number" name="subjectyear" min={{min_year}} max={{max_year}} value={{max_year}} required/>
                                  </td>
                                  <td><button type="submit" class="btn green lighten-2" name="send">Show week</button>  </td>
                                </form>

                                    <form action="/leaderboard/set_leaderboard_subject" method="POST" > {% csrf_token %}
                                        <td><input type="hidden" name="subjectid" value="{{ s.id }}" />
                                        <input type="number" name="year" min={{min_year}} max={{max_year}} value={{max_year}} required/></td>
                                        <td><button type="submit" class="btn green lighten-2" name="send">Show leaderboard</button></td>
                                    </form>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endif %}

    </div>
    <hr class="style13">
    {% endif %}
    {% if request.user.is_superuser %}
        {% if not remove_list|length %}
            <div ><h5>There is no removed Subjects.</h5></div>
        {% else %}
            <div >
                <div ><h4>Removed Subject</h4></div>
                <table class="highlight centered responsive-table " >
                    <thead class="grey lighten-1">
                      <tr>
                          <th>Subject Code</th>
                          <th>Subject Name</th>
                          <th>Readd Subject</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for s in remove_list %}
                            <tr>
                                <td>{{ s.subject_code }}</td>
                                <td>{{ s.name }} </td>
                                <td>
                                    <form action="/subject/readd_subject" method="POST" > {% csrf_token %}
                                        <button type="submit" class="btn green lighten-2" name="status" value="readd">Readd</button>
                                        <input type="hidden" value="{{ s.pk }}" name="id">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="divider"></div>
        {% endif%}
    {% endif%}
    </div>
</div>

{% endblock %}
