{% extends "subject/base.html" %}
{% block body %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });
</script>




<div class="container">
    <div class="col s8 m8 l8 ">
        {% if messages %}
            {% for m in messages %}
                    <script>
						Materialize.toast('{{ m }}', 3000);
					</script>
            {% endfor %}
        {% endif%}
    </div>





    {% if not subject_list|length %}
    <div class="col s8 m8 l8"><h4>There is No subjects.</h4></div>
    {% else %}
    <div class="col s8 m8 l8"><h4>Subjects</h4></div>
    <div >
        {% if request.user.is_superuser %}
                <table class="highlight centered responsive-table col s8 m8 l8" >
                    <thead>
                      <tr>
                          <th>Subject Code</th>
                          <th>Subject Name</th>
                          <th>Action</th>
                          <th>Show Week</th>
                          <th>Leaderboard</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for s in subject_list %}
                            <tr>
                                <td>{{ s.subject_code }}</td>
                                <td>{{ s.name }}</td>
                                <td>
                                <form action="/subject/removesubject" method="POST" class="col s12"> {% csrf_token %}
                                  <button type="submit" class="btn" name="status" value="remove">Remove</button>
                                  <input type="hidden" value="{{ s.pk }}" name="id">
                                </form>
                                </td>
                                <td>
                                    <form action="/subject/selectedsubject" method="POST" class="col s12"> {% csrf_token %}
                                      <input type="hidden" name="subjectid" value="{{ s.id }}" />
                                      <button type="submit" class="btn" name="send">Show week</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/leaderboard/set_leaderboard_subject" method="POST" class="col s12"> {% csrf_token %}
                                      <input type="hidden" name="subjectid" value="{{ s.id }}" />
                                      <button type="submit" class="btn" name="send">Leaderboard</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

  <ul class="collapsible">
    <li>
        <div class="collapsible-header">Add Subject</div>
            <div class="collapsible-body">
                <form action="/subject/addsubject" method="POST" class="col s8  m8 l8"> {% csrf_token %}
                <div class="cols s8 m8 l8">
                    <label for="name">Subject Name</label>
                    <input type="text" name="name" class="validate" id="name" required>
                </div>
                <div class="cols s8 m8 l8">
                    <label for="subject_code">Subject_code</label>
                    <input type="text" name="subject_code" class="validate" id="subject_code" required>
                </div>
                <button type="submit" class="btn">Add subject</button>
            </form>
        </div>
    </li>

  </ul>

        {% else %}
            {% if role == "student" %}
                <table class="highlight centered responsive-table col s8 m8 l8" >
                    <thead>
                      <tr>
                          <th>Subject Code</th>
                          <th>Subject Name</th>
                          <th>Show Week</th>
                          <th>Leaderboard</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for s in subject_list %}
                            <tr>
                                <td>{{ s.subject.subject_code }}</td>
                                <td>{{ s.subject.name }}</td>
                                <td>
                                    <form action="/subject/selectedsubject" method="POST" class="col s12"> {% csrf_token %}
                                      <input type="hidden" name="subjectid" value="{{ s.subject.id }}" />
                                      <button type="submit" class="btn" name="send">Show week</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/leaderboard/set_leaderboard_subject" method="POST" class="col s12"> {% csrf_token %}
                                      <input type="hidden" name="subjectid" value="{{ s.subject.id }}" />
                                      <button type="submit" class="btn" name="send">Show Leaderboard</button>
                                    </form>
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if role == "faculty" %}
                <table class="highlight centered responsive-table col s8 m8 l8" >
                    <thead>
                      <tr>
                          <th>Subject Code</th>
                          <th>Subject Name</th>
                          <th>Show Week</th>
                          <th>Leaderboard</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for s in subject_list %}
                            <tr>
                                <td>{{ s.subject_code }}</td>
                                <td>{{ s.name }}</td>
                                <td>
                                    <form action="/subject/selectedsubject" method="POST" class="col s12"> {% csrf_token %}
                                      <input type="hidden" name="subjectid" value="{{ s.id }}" />
                                      <button type="submit" class="btn" name="send">Show week</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/leaderboard/set_leaderboard_subject" method="POST" class="col s12"> {% csrf_token %}
                                      <input type="hidden" name="subjectid" value="{{ s.id }}" />
                                      <button type="submit" class="btn" name="send">Show leaderboard</button>
                                    </form>
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endif %}

    </div>
    <div class="divider col s8 m8 l8"></div>
    {% endif %}
    {% if request.user.is_superuser %}
        {% if not remove_list|length %}
            <div class="col s8 m8 l8"><h4>There is No Removed Subjects.</h4></div>
        {% else %}
            <div >
                <div class="col s8 m8 l8"><h4>Removed Subject</h4></div>
                <table class="highlight centered responsive-table col s8 m8 l8" >
                    <thead>
                      <tr>
                          <th>Subject Code</th>
                          <th>Subject Name</th>
                          <th>Readd Subject</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for s in remove_list %}
                            <tr>
                                <td>{{ s.subject_code }}</td>
                                <td>{{ s.name }} </td>
                                <td>
                                    <form action="/subject/readd_subject" method="POST" class="col s12"> {% csrf_token %}
                                        <button type="submit" class="btn" name="status" value="readd">Readd</button>
                                        <input type="hidden" value="{{ s.pk }}" name="id">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="divider col s8 m8 l8"></div>
        {% endif%}
    {% endif%}

</div>

{% endblock %}
