<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="{% static 'js/jquery-3.3.1.min.js' %}" ></script>
	<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
	<script src="{% static 'js/materialize.min.js' %}" ></script>
    <script src="{% static 'js/script.js' %}" ></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>
    <nav>
		<div class="nav-wrapper teal">
			<ul id="nav-mobile" class="right">
                <li><a href="/subject/all_subject" class="waves-effect waves-light">All subject</a> </li>
                <li><a href="/subject/add_subject" class="waves-effect waves-light">Add subject</a> </li>
				<li><a href="/subject/remove_subject" class="waves-effect waves-light ">Remove Subject</a></li>
				<li><a href="/subject/request_subject" class="waves-effect waves-light ">Request Subject</a></li>
				<li><a href="/subject/request_list" class="waves-effect waves-light ">Request List</a></li>

				<li><a href="/userprofile/profile" class="waves-effect waves-light ">Profile</a></li>
                <li><a href="/usermodule/logout" class="waves-effect waves-light">Logout</a> </li>
			</ul>
		</div>
	</nav>


 {% block body %}
 {% endblock %}

</body>
</html>