<!--{% extends 'subject/base.html' %}
{% block body %}

<div class="row">
    <form action="/subject/removesubject" method="POST" class="col s12"> {% csrf_token %}
        <div class="cols s8 m8 l8">
            <label for="name">Subject Name</label>
            <input type="text" name="name" class="validate" id="name" required>
        </div>
        <div class="cols s8 m8 l8">
            <label for="subject_code">Subject_code</label>
            <input type="text" name="subject_code" class="validate" id="subject_code" required>
        </div>
        <button type="submit" class="btn">Remove</button>
    </form>
</div>

{% endblock %}s-->