{% extends "subject/base.html" %}
{% block body %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });
</script>

<div class="row container z-depth-3">
    <div >
        {% if messages %}
            {% for m in messages %}
                    <script>
						Materialize.toast('{{ m }}', 3000);
					</script>
            {% endfor %}
        {% endif%}
    </div>
    <div class="col s12">
    {% if  not req_subject|length%}
        <div >
            <h5>No subject for request.</h5>
        </div>
    {% else%}
        {% if role == "student" %}
            <form action="/subject/pending_request" method="POST" > {% csrf_token %}

                <section>
                <div class="row">

                <div class="col s12 m6 l6 left">
                    <h5>Select Subject</h5>
                    {% for s in req_subject %}
                    <p>
                        <label>
                            <input class="with-gap" name="subject" type="radio"  value="{{ s.pk }}"/>
                            <span>{{ s.name }}</span>
                        </label>
                    </p>

                    {% endfor %}
                </div>
                <div class="col s12 m6 l6 right">
                    <h5>Select Faculty</h5>
                    {% for f in faculty_list %}
                    <p>
                        <label>
                            <input class="with-gap" name="faculty" type="radio" value="{{ f.pk }}" />
                            <span>{{ f.user }}</span>
                        </label>
                    </p>
                    {% endfor %}
                </div>
                </div>
                </section>

                    <section>
                        <div class="center">
                            <button type="submit" class="btn green lighten-2">Request</button>
                        </div>
                    </section>

            </form>
        {% endif %}
    {% endif %}
    <hr class="style13">
  <ul class="collapsible ">
    <li>
      <div class="collapsible-header">Pending Request</div>
      <div class="collapsible-body">
          <table class="highlight centered responsive-table " >

            <tbody>
            {% if not pending_list|length%}
            <h5>No Request.</h5>
            {% else %}
                <thead class="grey lighten-1">
                  <tr>
                      <th>Subject name</th>
                      <th>Faculty name</th>
                      <th>Status</th>
                      <th>Action</th>
                  </tr>
                </thead>
                {% for s in pending_list %}
                    <tr>
                        <td>{{ s.subject.name }}</td>
                        <td>{{ s.faculty.user }}</td>
                        <td>{{ s.status }}</td>
                        <td>
                            <form action="/subject/removerequest" method="POST" >{% csrf_token%}
                                <button type="submit" class="btn green lighten-2" name="remove_s">Remove Request</button>
                                <input type="hidden" name="requestid" value="{{ s.pk }}">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header">Approved Request</div>
      <div class="collapsible-body">
          <table class="highlight centered responsive-table " >

            <tbody>
                {% if not approved_list|length%}
                <h5>No Request.</h5>
                {% else %}
                    <thead class="grey lighten-1">
                  <tr>
                      <th>Subject name</th>
                      <th>Faculty name</th>
                      <th>Status</th>
                  </tr>
                </thead>
                {% for s in approved_list %}
                        <tr>
                            <td>{{ s.subject.name }}</td>
                            <td>{{ s.faculty.user }}</td>
                            <td>{{ s.status }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header">Decline Request</div>
      <div class="collapsible-body">
          <table class="highlight centered responsive-table " >

            <tbody>
                {% if not decline_list|length%}
                <h5>No Request.</h5>
            {% else %}
                <thead class="grey lighten-1">
                  <tr>
                      <th>Subject name</th>
                      <th>Faculty name</th>
                      <th>Status</th>
                  </tr>
                </thead>
                {% for s in decline_list %}
                    <tr>
                        <td>{{ s.subject.name }}</td>
                        <td>{{ s.faculty.user }}</td>
                        <td>{{ s.status }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
      </div>
    </li>
      <li>
      <div class="collapsible-header">Block Request</div>
      <div class="collapsible-body">
          <table class="highlight centered responsive-table " >

                {% if not block_list|length%}
            <h5>No Request.</h5>
            {% else %}
                <thead class="grey lighten-1">
                  <tr>
                      <th>Subject name</th>
                      <th>Faculty name</th>
                      <th>Status</th>
                  </tr>
                </thead>
            <tbody>
                {% for s in block_list %}
                    <tr>
                        <td>{{ s.subject.name }}</td>
                        <td>{{ s.faculty.user }}</td>
                        <td>{{ s.status }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>
</div>

{% endblock%}
