{% extends "subject/base.html" %}
{% block body %}
<div class="row container z-depth-3">
    <div class="col s12">
        <h5>Subject : {{ subject.name }}</h5>
        {% if not students|length %}
            <h5>No Students.</h5>
        {% else%}
        <table id="myDataTable" class="table table-striped table-bordered">
            <thead class="grey lighten-1">
                <tr>
                    <th>Roll No</th>
                    <th>Student Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{ student.student.roll_no }}</td>
                        <td>{{ student.student.user.username }}</td>
                        <td>
                            <form action="/subject/remove_student" method="POST" > {% csrf_token %}
                                <button type="submit" class="btn green lighten-2" name="status" value="remove">Remove</button>
                                <input type="hidden" value="{{ student.pk }}" name="id">
                            </form>
                        </td>
                    </tr>

                {% endfor%}
            </tbody>
        </table>
        {% endif%}
    </div>
</div>
{% endblock %}
