{% extends "userprofile/base.html" %}
{% block body%}

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });
</script>

<div class="row container z-depth-3">
    <div class="col s8 m8 l8 ">
                    <script>
						Materialize.toast('{{message}}', 3000);
					</script>
    </div>
    <!--
    <table class="highlight centered responsive-table col s8 m8 l8" >
        <thead>
          <tr>
              <th>Role</th>
              <th>username</th>
              <th>first name</th>
              <th>last name</th>
              <th>emailId</th>
              <th> - </th>
          </tr>
        </thead>
        <tbody>
            <tr>
                  <td> Admin </td>
                  <td>{{request.user.username}}</td>
                  <td>{{request.user.first_name}}</td>
                  <td>{{request.user.last_name}}</td>
                  <td>{{request.user.email}}</td>
                  <td><a href = "/userprofile/updateAdmin" >edit profile</a></td>
              </tr>
        </tbody>
    </table>
    -->
    <div class="col s12">
        <ul class="collection with-header">
            <li class="collection-header"><h5>{{ request.user.username }}</h5></li>
            <li class="collection-item">Role : <span class="secondary-content black-text">Admin</span></li>
            <li class="collection-item">First Name : <span class="secondary-content black-text">{{request.user.first_name}}</span></li>
            <li class="collection-item">Last Name : <span class="secondary-content black-text">{{request.user.last_name}}</span></li>
            <li class="collection-item">Email ID : <span class="secondary-content black-text">{{request.user.email}}</span></li>
            <li class="collection-item"><a href="/userprofile/updateAdmin">Edit Profile</a></li>
            <li class="collection-item"><a href="/userprofile/change_password">Change Password</a></li>
            <hr class="style13">
            <li class="collection-header"><h5> Submissions Details </h5></li>
            <li class="collection-item">Total submission made by you: <span class="secondary-content black-text">{{total_submissions}}</span></li>
            <li class="collection-item"><a href="/userprofile/allsubmissions"> All submission in details</a></li>
            <hr class="style13">
            <li class="collection-header"><h5  > Submissions Graphs </h5></li>
            <li class="collection-item">
                <div id="piechart" style="width: 600px; height: 500px;"></div>
            </li>
        </ul>



    </div >

    <!--<div>
    style="height: 10px; border: 0; box-shadow: 0 10px 10px -10px #8c8b8b inset;"
        <ul>
        Total submission made by you : {{total_submissions}}
        <a href = "/userprofile/allsubmissions"> see all submission in details </a>
        <div id="piechart" style="width: 600px; height: 500px;"></div>
        </ul>
    </div>-->
</div>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Task', 'Accuracy'],
      ['fully accepted',{{accepted}}],
      ['wrong',{{wrong}}],
      ['partially accepted',{{partially_accepted}}]
    ]);
    var options = {
      title: ''
    };
    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data, options);
  }
</script>

{% endblock %}
