{% extends "usermodule/base.html" %}
{% block body%}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });
</script>
<body>
<div class="row container z-depth-3">
    <div class="row">
          <div class="col  ">
                 <script>
                        Materialize.toast('{{message}}', 3000);
                 </script>
          </div>
    </div>

    <div class="col s8">

      <form  action="/userprofile/change_passwordbyfaculty" method = "POST">{% csrf_token %}

            Enter User Name  <input type="text" name="uname"  required/>
            New Password  <input type="text" name="new_password"  required/>
            <button class="btn green lighten-2" type="submit">Change Password</button>
      </form>
  </div>
</div>
</body>
{% endblock %}
