{% extends "userprofile/base.html" %}
{% block body%}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });
</script>
<body>
    <div class="container z-depth-3">
        <div class="col s8 m8 l8 ">
               <script>
                      Materialize.toast('{{message}}', 3000);
                </script>
        </div>
        <div >
            <form action="/userprofile/update_faculty" method = "POST">{% csrf_token %}
              username : <input type="text" name="username" value = "{{request.user.username}}" disabled/>
              password : <input type="password" name="password" value="{{request.user.password}}" disabled/>
              first_name : <input type="text" name="first_name" value="{{request.user.first_name}}" />
              last_name : <input type="text" name="last_name" value="{{request.user.last_name}}" />
              phone_no : <input type="text" name="phone_no" value="{{request.user.student.phone_no}}" />
              emailId : <input type="text" name="email" value="{{request.user.email}}" />
              date of birth : <input type="date" name="dob" value="{{request.user.student.dob|date:'Y-m-d'}}" />
              <button class="btn green lighten-2" type="submit" value="upload">Update</button>
            </form>
        </div>
      </div>
</body>
{% endblock %}
