{% extends "usermodule/base.html" %}
{% block body%}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });
</script>
<body>
<div class="row container z-depth-3">
    <div class="row">
          <div class="col  ">
                 <script>
                        Materialize.toast('{{message}}', 3000);
                 </script>
          </div>
    </div>

  <div class="col s8">

      <form      action="/userprofile/update_admin" method = "POST">{% csrf_token %}

            Username  <input type="text" name="username" value = "{{request.user.username}}" disabled/>
            Password  <input type="password" name="password" value="{{request.user.password}}" disabled/>
            First_name  <input type="text" name="first_name" value="{{request.user.first_name}}" />
            Last_name  <input type="text" name="last_name" value="{{request.user.last_name}}" />
            EmailId  <input type="text" name="email" value="{{request.user.email}}" />
            <button class="btn green lighten-2" type="submit" value="upload">Update</button>
      </form>
  </div>
</div>
</body>
{% endblock %}
