{% extends "usermodule/base.html" %}
{% block body%}

<body>
  {{message}}
  <br/>
  Add Faculty : <br/>
  Upload csv file in format (username,password) :
    <form action="/usermodule/addfaculty" method = "POST" enctype = "multipart/form-data">{% csrf_token %}
      <input type="file" name="facultyfile" id="facultyfile"/>
      <button type="submit" value="upload">Upload</button>
    </form>
    Active Faculty List :
    <table class="highlight centered responsive-table col s8 m8 l8" >
        <thead>
          <tr>
            <th>No.</th>
            <th>username</th>
            <th>full name</th>
            <th>email id</th>
            <th>phone_no</th>
            <th> -</th>
          </tr>
        </thead>
        <tbody>
            {% for faculty in current_faculty %}
                <tr>
                  <td>{{facultly.id}}</td>
                  <td>{{faculty.user.username}}</td>
                  <td>{{faculty.user.firstname}} {{faculty.user.last_name}}</td>
                  <td>{{faculty.user.email}}</td>
                  <td>--</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    Past Faculty List :
    <table class="highlight centered responsive-table col s8 m8 l8" >
        <thead>
          <tr>
              <th>No.</th>
              <th>username</th>
              <th>full name</th>
              <th>email id</th>
              <th>phone_no</th>
              <th> -</th>
          </tr>
        </thead>
        <tbody>
            {% for faculty in past_faculty %}
                <tr>
                    <td>{{facultly.id}}</td>
                    <td>{{faculty.user.username}}</td>
                    <td>{{faculty.user.firstname}} {{faculty.user.last_name}}</td>
                    <td>{{faculty.user.email}}</td>
                    <td>--</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </body>
{% endblock %}
