{% extends "usermodule/base.html" %}
{% block body%}
<body>
  {{message}}
  <br/>
  Add Student : <br/>
  Upload csv file in format (username,password,roll_no,year) :
    <form action="/usermodule/addstudent" method = "POST" enctype = "multipart/form-data">{% csrf_token %}
      <input type="file" name="studentfile" id="studentfile"/>
      <button type="submit" value="upload">Upload</button>
    </form>
    Active Student List :
    <table class="highlight centered responsive-table col s8 m8 l8" >
        <thead>
          <tr>
            <th>No.</th>
            <th>username</th>
            <th>full name</th>
            <th>email id</th>
            <th>phone_no</th>
              <th> -</th>
          </tr>
        </thead>
        <tbody>
            {% for student in current_student %}
                <tr>
                  <td>{{facultly.id}}</td>
                  <td>{{student.user.username}}</td>
                  <td>{{student.user.firstname}} {{student.user.last_name}}</td>
                  <td>{{student.user.email}}</td>
                  <td>--</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    Past Student List :
    <table class="highlight centered responsive-table col s8 m8 l8" >
        <thead>
          <tr>
              <th>No.</th>
              <th>username</th>
              <th>full name</th>
              <th>email id</th>
              <th>phone_no</th>
              <th> -</th>
          </tr>
        </thead>
        <tbody>
            {% for student in past_student %}
                <tr>
                    <td>{{facultly.id}}</td>
                    <td>{{student.user.username}}</td>
                    <td>{{student.user.firstname}} {{student.user.last_name}}</td>
                    <td>{{student.user.email}}</td>
                    <td>--</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </body>
  {% endblock %}
