header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.buttonaslink{
   background: none;
   border: none;
   color: #0066ff;
   text-decoration: underline;
   cursor: pointer;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#body{
  padding-top: 20px;
}


hr.style13 {
	height: 5px;
	border: 1;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.title {
    font-weight: bold;
    font-family:bold normal 18px Arial, Helvetica, sans-serif;
}

.heading {
    font-weight: bold;
    font-family:bold normal 18px Arial, Helvetica, sans-serif;
}

.simple {
    font-family:Arial, Helvetica, sans-serif    ;
    font-weight:lighter;
}
