{% extends "userprofile/base.html" %}
{% block body%}
<div class="row container z-depth-3">
    <div class="col s12">
        <a href = "/searchuser/sortedstudent/?sortbyyear={{ year }}" >back to student list</a> >>
        <a href="/searchuser/fullprofile/?studentid={{studentid}}">back to Profile </a>
    </div>
    <div class="col s12 m12 l12">

    <h5>all submissions :</h5>
    <table class="highlight centered responsive-table col s12 m12 l12" >
        <thead class="grey lighten-1">
          <tr>
              <th>Index</th>
              <th>SubmissionID</th>
              <th>Subject</th>
              <th>Assignment</th>
              <th>Totalscore</th>
              <th>Userscore</th>
              <th>Date and time</th>
              <th>Verdict</th>
              <th>In details</th>
          </tr>
        </thead>
        <tbody>
          {% for submission in submissions %}
            <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{submission.id}}</td>
                  <td>{{submission.assignment.subject.name}}</td>
                  <td>{{submission.assignment.title}}</td>
                  <td>{{submission.assignment.totalscore}}</td>
                  <td>{{submission.totalscore}}</td>
                  <td>{{submission.datetime}}</td>
                  <td>{{submission.verdict}}</td>
                  <td><a href="/searchuser/submission_files/?submissionid={{submission.id}}&studentid={{studentid}}">See Details </a></td>
              </form>
              </tr>
         {% endfor %}
        </tbody>
    </table>
        </div>
</div>
{% endblock %}
