{% extends "userprofile/base.html" %}
{% block body%}
<div>
  <div class="col s8 m8 l8 ">
      {% if messages %}
          {% for m in messages %}
                  <script>
          Materialize.toast('{{ m }}', 3000);
        </script>
          {% endfor %}
      {% endif%}
  </div>
please fill details for sort the students..<br/>
  <form action = "/searchuser/sortby" method="POST" > {% csrf_token %}
    year : <input type = "number" name="selectedyear" min="2015" max="2099" />
           <button type="submit" value="submit">search</button>
  </form>
all students : <br/>
<table class="highlight centered responsive-table col s8 m8 l8" >
    <thead>
      <tr>
        <th>No.</th>
        <th>username</th>
        <th>full name</th>
        <th>email id</th>
        <th>phone_no</th>
        <th>year</th>
        <th>-</th>
      </tr>
    </thead>
    <tbody>
        {% for student in allstudents %}
            <tr>
              <td>{{student.id}}</td>
              <td>{{student.user.username}}</td>
              <td>{{student.user.first_name}} {{student.user.last_name}}</td>
              <td>{{student.user.email}}</td>
              <td>{{student.phone_no}}</td>
              <td>{{student.year}}</td>
              <td>
                <form action="/searchuser/selectedstudent" method="POST" > {% csrf_token %}
                  <input type="hidden" name="studentid" value="{{student.id}}" />
                  <button type="submit">see profile</button>
                </form>
              </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
