{% extends "assignment/base.html" %}
{% block body%}
  {{message}}<br/>
  {{week.name}}<br/>
  <br/>
  <body>
      <form action="/assignment/newassignment" method = "POST" enctype = "multipart/form-data">{% csrf_token %}
        <input type="hidden" name="weekid" value="{{week.id}}" />
      enter a title :  <input type="text" name="title" id="title"/>
      enter a question :  <input type="text" name="question" id="question" />
      upload code file :  <input type="file" name="codefile" id="codefile" /><br/>
      enter a nunmer of testfiles :<input type="number" name="total_inputfiles" id="total_inputfiles" />
        <button type="submit">submit</button>
      </form>
   </body>
{% endblock %}
