{% extends "assignment/base.html" %}
{% block body%}
  subject : {{assignment.subject.name}}<br/>
  <form action="/assignment/showAssignment" method='POST' > {% csrf_token %}
     <input type = "hidden" name="assignmentid" value="{{assignment.id}}" />
     <button type="submit"> back to assignment </button>
  </form>
  <br/>
   your total submission : {{total_submissions}} </br>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Accuracy'],
          ['fully accepted',{{accepted}}],
          ['wrong',{{wrong}}],
          ['partially accepted',{{partially_accepted}}]
        ]);

        var options = {
          title: 'your submissions'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>

    <div id="piechart" style="width: 600px; height: 500px;"></div>
  <table class="highlight centered responsive-table col s8 m8 l8" >
      <thead>
        <tr>
            <th>totalscore</th>
            <th>datetime</th>
            <th>isrunning</th>
            <th>more details </th>
        </tr>
      </thead>
      <tbody>

          {% for submission in submissions %}

              <tr>
                <form action="/assignment/submission_files" method="POST" > {% csrf_token %}
                    <input type="hidden" name="submissionid" value="{{submission.id}}" />

                    <td>{{submission.totalscore}}</td>
                    <td>{{submission.datetime}}</td>
                    <td>{{submission.isrunning}}</td>
                    <td><button type="submit">see details about submission</button></td>

                  </form>
              </tr>

          {% endfor %}
      </tbody>
  </table>

{% endblock %}
