{% extends "assignment/base.html" %}
{% block body%}
<script>
  $(document).ready( function(){
    $("#addweek").click(function(){
      $("#add_week").html('<form action="/assignment/addweek" method = "POST"> {% csrf_token %} Enter a week Name : <input type="text" id="weekname" name="weekname"/><button type="submit">Add</button></form>');
      $("#addweek").remove();
    });
  });
</script>
{{message}}
 All week of {{subject.name}} subject <br/>
 <ul class="collapsible">
   {% for week in all_week %}
    <li>
      <div class="collapsible-header"><i class="material-icons"> {{week.name}} </i></div>
      <div class="collapsible-body">
          {% for assignment in all_assignment %}
            {% ifequal assignment.week.id week.id %}
             <form action = "/assignment/selectedAssignment" method="POST" > {% csrf_token %}
              <div class = "row" >
                <input type = "hidden" name="assignmentid" value = "{{assignment.id}}" />
                <button type="submit" name="button">{{assignment.title}}</button>
              </div>
              </form>
            {% endifequal %}
          {% endfor %}

      {% ifequal usertype faculty %}
      <form action="/assignment/new_assignment" method="post">{% csrf_token %}
            <input type="hidden" name="weekid" value="{{week.id}}">
            <button type="submit" name="button">add new assignment</button>
      </form>
      <form action="/assignment/deleteweek" method="POST"> {% csrf_token %}
        <input type="hidden" name="weekid" value="{{week.id}}">
        <button type="submit" name="button">Delete week</button>
      </form>
      {% endifequal %}
      {% ifequal usertype "admin" %}
      <form action="/assignment/new_assignment" method="post">{% csrf_token %}
            <input type="hidden" name="weekid" value="{{week.id}}">
            <button type="submit" name="button">add new assignment</button>
      </form>
      <form action="/assignment/deleteweek" method="POST"> {% csrf_token %}
        <input type="hidden" name="weekid" value="{{week.id}}">
        <button type="submit" name="button">Delete week</button>
      </form>
      {% endifequal %}
      </div>
    </li>
    {% endfor %}
   <li>
    {% ifequal usertype faculty %}
    <div class="collapsible-header">Add New Week </div>
    <div class="collapsible-body">
    <form action="/assignment/addweek" method="POST" > {% csrf_token %}
      enter a name of week :<input type="text" name="weekname" id="weekname"/>
      <button type="submit" name="button">add week</button>
    </form>
    </div>
    {% endifequal %}
    {% ifequal usertype "admin" %}
    <div class="collapsible-header">Add New Week </div>
    <div class="collapsible-body">
    <form action="/assignment/addweek" method="POST" > {% csrf_token %}
      enter a name of week :<input type="text" name="weekname" id="weekname"/>
      <button type="submit" name="button">add week</button>
    </form>
    </div>
    {% endifequal %}
  </li>
  </ul>

{% endblock %}
