{% extends "assignment/base.html" %}
{% block body%}
<script>
  $(document).ready( function(){
    $("#addweek").click(function(){
      $("#add_week").html('<form action="/assignment/addweek" method = "POST"> {% csrf_token %} Enter a week Name : <input type="text" id="weekname" name="weekname"/><button type="submit">Add</button></form>');
      $("#addweek").remove();
    });
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    // var instances = M.Collapsible.init(elems, options);
    $('.collapsible').collapsible();
  });
</script>
<div class="row container z-depth-3">
  <script>
    Materialize.toast('{{message}}', 3000);
  </script>
  <div class="row col s12">
    <h5>All week of {{subject.name}} subject</h5>
    <ul class="collapsible ">
      {% for week in all_week %}
      <li>
        <div class="collapsible-header"><i class="material-icons"> {{week.name}} </i> <p style="padding-left:30em" >last date of submission : {{week.lastdate}} </p></div>
        <div class="collapsible-body">
          <div class="row">
          {% if usertype == "student" %}
            <table class="highlight centered responsive-table col s12" >
              <thead class="grey lighten-1">
                <tr>
                  <th>Assignment</th>
                  <th>total score</th>
                </tr>
              </thead>
              <tbody>
                {% for assignment in all_assignment %}
                {% ifequal assignment.week.id week.id %}
                <tr>
                  <td>
                    <form action = "/assignment/showAssignment" method="POST" > {% csrf_token %}
                      <div>
                        <input type="hidden" name="subjectyear" value="{{subjectyear}}" />
                        <input type = "hidden" name="assignmentid" value = "{{assignment.id}}" />
                        <button type="submit" class="buttonaslink">{{assignment.title}}</button>
                      </div>
                    </form>
                    </td>
                    <td>

                      {{assignment.totalscore}}
                   </td>
                </tr>
                {% endifequal %}
                {% endfor %}
            </tbody>
            </table>
          {% else %}
            <table class="highlight centered responsive-table col s12" >
              <thead class="grey lighten-1">
                <tr>
                  <th>Show Assignment</th>
                  <th>Select Year</th>
                  <th>Show All Students</th>
                  <th>Delete Assignment</th>
                </tr>
              </thead>
              <tbody>

                {% for assignment in all_assignment %}
                {% ifequal assignment.week.id week.id %}

              <tr>
                  <td>
                    <form action = "/assignment/showAssignment" method="POST" > {% csrf_token %}
                      <div>
                        <input type="hidden" name="subjectyear" value="{{subjectyear}}" />
                        <input type = "hidden" name="assignmentid" value = "{{assignment.id}}" />
                        <button type="submit" class="buttonaslink" name="button">{{assignment.title}}</button>
                      </div>
                    </form>
                  </td>

                  <form action="/assignment/studentlist_for_assignment" method="POST" > {% csrf_token %}

                      <input type="hidden" name="assignment_id" value="{{ assignment.id }}" />
                      <input type="hidden" name="week_id" value="{{ week.id}}"/>
                    <td>  <input type="number" name="year" min={{min_year}} max={{max_year}} value={{max_year}} required/>
                    </td>
                    <td> <button class="buttonaslink" type="submit"  name="send">All Student</button>
                    </td>
                  </form>

                    <form action = "/assignment/deleteAssignment" method="POST" > {% csrf_token %}
                      <div>
                        <input type="hidden" name="subjectyear" value="{{subjectyear}}" />
                        <input type = "hidden" name="assignmentid" value = "{{assignment.id}}" />
                        <td><button type="submit" class="buttonaslink" name="button">Delete</button>
                        </td>
                      </div>
                    </form>
              </tr>
                {% endifequal %}
                {% endfor %}
               </tbody>
            </table>
          {% endif %}

          {% if usertype == "faculty" or usertype == "admin" %}
            <hr/>
            <div class="row">
              <div class="col">
              <form action="/assignment/new_assignment" method="post">{% csrf_token %}
                <input type="hidden" name="weekid" value="{{week.id}}">
                <input type="hidden" name="subjectyear" value="{{subjectyear}}" />
                <button type="submit" class="buttonaslink" name="button">add new assignment</button>
              </form>
              <form action="/assignment/import_assignment" method="post">{% csrf_token %}
                <input type="hidden" name="weekid" value="{{week.id}}">
                <input type="hidden" name="subjectyear" value="{{subjectyear}}" />
                <button type="submit" class="buttonaslink" name="button">import assignment from practice question</button>
              </form>

            <form action="/assignment/deleteweek" method="POST"> {% csrf_token %}
              <input type="hidden" name="weekid" value="{{week.id}}">
              <input type="hidden" name="subjectyear" value="{{subjectyear}}" />
              <input type="hidden" name="subjectid" value="{{subject.id}}" />
              <button type="submit" class="buttonaslink" name="button">Delete week</button>
            </form>
            </div>
            </div>
          {% endif %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>

    {% if usertype == "faculty" or usertype == "admin" %}
    <ul class="collapsible ">
      <li>
        <div class="collapsible-header">Add New Week </div>
        <div class="collapsible-body">
          <form action="/assignment/addweek" method="POST" > {% csrf_token %}
            <input type="hidden" name="subjectyear" value="{{subjectyear}}" />
            <input type="hidden" name="subjectid" value="{{subject.id}}" />
            enter a name of week :<input type="text" name="weekname" id="weekname" required/>
            enter a last date of submission : <input type="date" name="lastdate" id="lastdate" required />
            <button type="submit" class="btn green " name="button">add week</button>
          </form>
        </div>
      </li>
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
